
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
}
h1{
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 5px white;
}
h2 {
  color: #63A088;
  font-weight: bold;
  font-size: 18px;
}
a {
  color: black;
  text-decoration-line: none
}
a:hover {
  text-decoration: none;
  color: blue;
}
p {color: white;
font-size: 15px;
}
#banner img {
	border-radius: 50%;
}
#banner p {
	color: black;
	font-size: 35px;
}
#banner {
	background-color: rgb(245,245,245);
	text-align: center;
	background-image: url("https://unsplash.it/1000/600?random");
  	background-size: cover;
  	background-position: center;
  	padding: 150px 0; 
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
}
.card-white img {
  margin-bottom: 20px;
}
.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}
.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}
.cards{
  margin: 15px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media(max-width: 992px){
  .cards{
  width: 750px;
  }
}
@media(max-width: 768px){
  .cards{
  width: 90%;
  grid-template-columns: 1fr;
  }
